<div class="columna left">
            <h2>Contacto Rápido</h2>
            <form action=""method=""class="formulario">
                <p>
                <label for="">Nombre</label>
                <input type="text"/>
                </p>
                <p>
                <label for="">Email</label>
                <input type="text"/>
                </p>
                <p>
                <label for="">Teléfono</label>
                <input type="text"/>
                </p>
                <p>
                <label for="">Comentario</label>
                <textarea id="comentario"></textarea>
                </p>
                <p class="acciones">
                <input type="submit" value="Enviar">
                </p>
            </form>
        </div>
        <div class="columna right">
        <h2>Otras vias de contacto</h2>
        <p>Tambien se pueden comunicar con nosotros ... </p>
        <ul>
            <li>Teléfono: +54-342000001</li>
            <li>Email: contacto@chaltendestinos.com.ar</li>
        </ul>
        <div class="icono" id="whatsapp">
            <i class="fab fa-whatsapp"></i>
        </div>
    
        <div class="icono" id="telegram">
            <i class="fab fa-telegram"></i>
        </div>
        </div>