<div class="homeimg">
            <img src="images/imgHome.jpg"  alt="PeritoMoreno">
        </div>
        <div class="columnas">
            <div class="bienvenidos left">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                   Ullam a minus voluptatem saepe repellat? Nisi iste a saepe, 
                   magni fugiat tempore ratione eaque, enim sequi, totam modi? Nisi, deleniti debitis!
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Impedit porro earum sunt corrupti, 
                    tenetur asperiores adipisci distinctio dicta consectetur libero accusantium saepe
                    veniam expedita fugiat iusto.
                    Obcaecati excepturi harum debitis?
                </p>
            </div>
            <div class="testimonios right">
                <h2>Testimonio</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente Excelente</span>
                    <span class="autor">Maximiliano Antuña MaxAntunia@email.com</span>
                </div>
            </div>
        </div>