        <h2>Novedades</h2>
        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt ipsam deleniti, voluptatem repellat,
                cum quos facere dicta ea sapiente ad temporibus voluptas! Iusto pariatur eos
                eaque rem facilis debitis hic!
            </p>
            <hr>
        </div>
        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt ipsam deleniti, voluptatem repellat,
                cum quos facere dicta ea sapiente ad temporibus voluptas! Iusto pariatur eos
                eaque rem facilis debitis hic!
            </p>
            <hr>
        </div>
        <div class="novedades">
            <h3>Titulo</h3>
            <h4>Subtitulo</h4>
            <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Incidunt ipsam deleniti, voluptatem repellat,
                cum quos facere dicta ea sapiente ad temporibus voluptas! Iusto pariatur eos
                eaque rem facilis debitis hic!
            </p>
            <hr>
        </div>